<h2>Нет учеников в вашем классе</h2>
<h4>Обратитесь к администратору за помощью</h4>
<p>У каждого класса задан учитель. Каждый ученик относится к какому-то классу. Если на каком-то из этих этапов не задано соответствие, есть ученики без определенного класса, либо у класса просто нет учеников, то на экран выводится соответствующее сообщение.</p>