<h2>Не задан текущий учебный период</h2>
<h4>Скорее всего он закончился, либо ещё не начался</h4>
<h4>Обратитесь к администратору за помощью</h4>
<p>Существует список учебных четвертей. Система проверяет последний учебный период из этого списка. Если текущая дата не находится в пределах этого периода, то на экран выводится эта ошибка.</p>