.status-message {
	margin-top: 0 !important;
	color: red !important;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 0px;
}

.status-message > .message {
	animation: opacityToggle .7s;
	-webkit-animation: opacityToggle .7s;
}

/*АНИМАЦИЯ ПОЯВЛЕНИЯ ТЕКСТА СООБЩЕНИЯ*/
@-webkit-keyframes opacityToggle{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes opacityToggle{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*------------------------------------*/

.sidebar-menu {

}

.sidebar-menu > .title-wrapper {
	
	font-size: 24px;
	display: block;
	background-color: #E7BF66;
	color: white;
	text-align: center;
	height: 44px;
}

.sidebar-menu > .title-wrapper > .title {
	padding: 10px 20px;
	text-align: left;
	width: 50%;
	float: left;
}

.sidebar-menu > .title-wrapper > .button {	
	padding: 10px 20px;
	color: white;
	width: 50%;
	float: right;
}

.sidebar-menu > .title-wrapper > .button:hover {
	background-color: #d8aa46;
	color: white;
}

.table.pupil-list {
	text-align: left;
}

table > tbody > tr > .button-area {
	padding: 0px !important;
	width: 100px;
	text-align: center !important;
	background-color: rgba(231, 191, 102, 0.1);
}

table > thead > tr > .button-area {
	text-align: center !important;
	background-color: rgba(231, 191, 102, 0.1);
}

.button-area > .button {	
	line-height: 1.42857143 !important;
	padding: 7px 0px;
	font-size: 18px;
	color: rgb(136, 106, 42);
	background-color: rgba(231, 191, 102, 0.1);
}

.button-area > .button:hover {	
	background-color: rgba(0, 0, 0, 0.2); !important;
	color: white;
}

.button-area > .button.gradient:first-child {
	background: linear-gradient(to left, rgba(216, 170, 70, 0.5), rgba(216, 170, 70, 0));
}

.inputs-left {
	text-align: left;
	margin-bottom: 30px;
}

.inputs-left label {
	text-align: right;
	padding-right: 10px;
	width: 30%;
}

.inputs-left input[type=text],
.inputs-left input[type=date]
{
	width: 30%;
}

.inputs-left input[type=checkbox]
{
	width: auto;
}

.inputs-left input, .inputs-left select {
	display: inline;
	margin-bottom: 10px;
	width: 30%;
}

.button-add {
	display: block;
	padding: 10px 0px;
	font-size: 18px;
	color: white;
	background: rgba(231, 191, 102, 1);
}

.button-add:hover {
	background-color: #d8aa46 !important;
}

.inputs-left > .input.date > .form-control.date {
	margin-right: 0px !important;
}

//**Pagination**//

.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block;
	border-left: 1px solid #ccc;
}
.paging > .link-body {
	border-left: none;
	margin-left: 10px;
}
.paging > .link-body > .link:hover {
	background-color: rgb(244, 244, 244) !important;
	color: black;
}
.paging > .link-body > .first {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
}
.paging > .link-body > .middle {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.paging > .link-body > .last {
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 0 4px 4px 0;
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .bprev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}
.paging-footer {
	margin-top: 30px;
}

.button_add {
	display: block;
	padding: 10px 0px;
	font-size: 18px;
	color: white;
	background: rgba(231, 191, 102, 1);
}

.button_add:hover {
	color: white;
	background: rgba(216, 170, 70, 1)
}

@media print {
	
	.button-area {
		display: none !important;
	}
	
	.button_add {
		display: none !important;
	}
	
	.sidebar-menu {
		display: none !important;
	}
	
	a[href]:after {
    	content:"" !important;
    	font-size: 90% !important;
	}
	
	a[href^="#"]:after {
	    content:"" !important;
	}

	input[type=checkbox] {
		display: none !important;
	}

	div.checkDiv{
		display: none !important;
	}

	div.checkDiv.active{
		display: block !important;
	}

	div.checkDiv.color{
		display: inline-block !important;
	}

	div{
        page-break-inside: avoid;
    }
}

div.radioDiv {
}

div.radioDiv:hover,
input[type=radio]:hover {
	background-color: beige;
	cursor: pointer;
}

label.typeName {
	font-size: 16px;
	font-weight: bold;
	width: auto;
}

label.subjectName {
	font-size: 16px;
	font-weight: normal;
	width: auto;
}

div.checkDiv.subject {
	/*padding-left: 15px;*/
}

div.checkDiv:hover,
label.typeName:hover,
label.subjectName:hover,
input[type=checkbox]:hover {
	background-color: beige;
	cursor: pointer;
}

div.checkDiv {
	font-size: 16px;
	font-weight: normal;
	width: auto;
}