﻿<h2>Добро пожаловать в личный кабинет завуча</h2>

<h3><?php echo $admin_data['Admin']['name_1']." ".$admin_data['Admin']['name_2']." ".$admin_data['Admin']['name_3']; ?></h3>

<p>Начните работу, выбрав необходимое действие из раскрывающегося меню слева</p>