<h2><?php echo $title_for_layout; ?></h2>

<div class="contact-form">
<?php
	
	echo '<div class="inputs-left" style="margin-bottom: 50px;">';
	
	echo '<label>ФИО:</label>';
	echo @$teacher_data['Teacher']['name_1'] ." ". @$teacher_data['Teacher']['name_2'] ." ". @$teacher_data['Teacher']['name_3'];
	
	echo '<br>';
	echo '<label>Логин:</label>';
	echo @$teacher_data['Teacher']['user']['User']['login'];
	
	echo '<br>';
	echo '<label>Пароль:</label>';
	echo @$teacher_data['Teacher']['user']['User']['pass'];
		
	echo '</div>';

	echo $this->Html->link('Вернуться', array('action' => 'teachers_list'), array('class' => 'btn btn-primary button', 'div' => false));
?>
</div>