<h2><?php echo $title_for_layout; ?></h2>

<?php
	//------------------------------
	//ВЫВОД МАССИВА ДАННЫХ ПРЕДМЕТОВ
	// $count = 1;
	// echo '<script type="text/javascript">';
		
	// 	foreach ($types as $type) {
	// 		foreach ($type['Subject'] as $subject) {

	// 			$chartDataName = "chartDataName".$count;
	// 			echo 'var '.$chartDataName.' = "'.$subject['name'].'";';	//глобальная переменная имени графа - название предмета
	// 			echo $this->Widgets->NewChartDataMark($subject['Mark'], $last_8_semesters, $count);
				
	// 			$count++;
	// 		};
	// 	}
	// 	$count--;

	// echo '</script>';
	//ВЫВОД МАССИВА ДАННЫХ ПРЕДМЕТОВ
	//------------------------------
?>

<?php
	//------------------------------------------------------------
	//ВЫВОД МАССИВА ДАННЫХ ПРЕДМЕТОВ ДЛЯ ВАРИАНТА С ОДНИМ ГРАФИКОМ
	$count = 1;

	print_r($types);

	echo '<script type="text/javascript">';

		//echo $this->Widgets->NewChartDataAllMarks($types, $last_8_semesters);

	echo '</script>';
	//ВЫВОД МАССИВА ДАННЫХ ПРЕДМЕТОВ ДЛЯ ВАРИАНТА С ОДНИМ ГРАФИКОМ
	//------------------------------------------------------------
?>

<script type="text/javascript">
	
	// //Вывод глобальных переменных для дальнейшего управления графами
	// <?php
	// 	for ($i=1; $i <= $count; $i++) { 
	// 		echo 'var graph'.$i.';';
	// 	}
	// ?>

	// //вывод настроек графов
	// AmCharts.ready(function() {

	// 	<?php			
	// 		for ($i=1; $i <= $count; $i++) { 
	// 			echo $this->Widgets->NewChartSettings($i, "#001cc0");
	// 		}
	// 	?>

	// });

</script>

<!-- ВИДИМАЯ ОБЛАСТЬ -->
<div class="contact-form">

	<!-- <div id="chart'.$i.'div" style="width: 100%; height: 200px;"> -->

	<?php
		// for ($i=1; $i <= $count; $i++) { 
		// 	if ($i != 1)
		// 		echo '<div id="chart'.$i.'div" style="width: 100%; height: 200px; display: none;"></div>';
		// 	else
		// 		echo '<div id="chart'.$i.'div" style="width: 100%; height: 200px;"></div>';
		// }
	?>

	<!-- </div> -->

	<?php

		// for ($i=1; $i <= $count; $i++) { 
		// 	$toggleName = "chart".$i."div";
			
		// 	echo $this->Form->button($i, array('type' => 'button', 'class' => 'btn btn-primary button', 'div' => false, 'onclick' => 'javascript:openGraph('."'#".$toggleName."'".",".$count.")"));
		// }	

		// echo '<div class="inputs-left" style="margin-bottom: 50px;">';

		// 	$options = array();
		// 	$new_count = 1;	//необходимо, чтобы нумерация начиналась с нуля, чтобы правильно сформировать id элементов chrckbox'а
		// 	foreach ($types as $type) {
		// 		foreach ($type['Subject'] as $subject) {

		// 			$options[$new_count] = $subject['name'];
		// 			$new_count++;
		// 		};

		// 	}
		// 	unset($new_count);		

		// 	echo $this->Form->input('chart',array(
		// 		'label' => false,
		// 		'type' => 'select',
		// 		'multiple' => 'checkbox',
		// 		'options' => $options,
		// 		'id' => 'chartCheckbox',
		// 		'selected' => 1	//по умолчанию выделяем первый
		// 	));
			
		// 	echo '<label>ФИО:</label>';
		// 	echo @$teacher_data['Teacher']['name_1'] ." ". @$teacher_data['Teacher']['name_2'] ." ". @$teacher_data['Teacher']['name_3'];
			
		// 	echo '<br>';
		// 	echo '<label>Логин:</label>';
		// 	echo @$teacher_data['Teacher']['user']['User']['login'];
			
		// 	echo '<br>';
		// 	echo '<label>Пароль:</label>';
		// 	echo @$teacher_data['Teacher']['user']['User']['pass'];

		// 	echo '<br>';

		// echo '</div>';

		// echo $this->Html->link('Вернуться', array('action' => $returnAction), array('class' => 'btn btn-primary button', 'div' => false));
	?>

</div>